asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
Django==4.2.9
django-browser-reload==1.12.1
django-unfold==0.33.0
idna==3.6
pillow==10.2.0
python-dotenv==1.0.0
requests==2.31.0
simplejson==3.19.2
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.1.0
whitenoise==6.6.0
cloudinary==1.40.0
django-cloudinary-storage==0.3.0
