{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Church Arise Network</title>
{% endblock head %}

{% block body %}

<!-- Hero Section -->
<header class="h-[650px] bg-hero">
    <div class="container grid items-center justify-center h-full max-w-6xl px-4 mx-auto text-white md:grid-cols-2 ">
        <div class="">
            <h1 class="text-4xl font-bold md:font-normal md:text-6xl capitalize text-center md:text-start md:leading-[1] sm:!break-keep"
                style="word-break: break-word;">institutionalizing righteousness</h1>
            <p class="mt-2 text-lg text-center capitalize md:text-start md:text-xl">We Train and Equip Leaders to live a Fulfilling life - A Life for Generations.</p>
        </div>
        <div class="md:justify-self-end md:mt-0 ">
            <dotlottie-player class="w-[300px] md:w-[400px] mx-auto md:mx-0"
                src="https://lottie.host/4d35aaa0-bf6a-43a0-ab94-bd6ef1650803/DdVhRdAc6m.json" background="transparent"
                speed="1" loop autoplay></dotlottie-player>
        </div>
    </div>
</header>

{% if latest_event %}
<section class="bg-primary-gold-light">
    <div class="container justify-between max-w-6xl px-2 py-6 mx-auto md:flex">
        <div class="mx-auto md:mx-0">
            <span class="block text-center md:text-start">UPCOMING EVENT</span>
            <p class="text-xl text-center md:text-start">"{{latest_event.title}}"</p>
        </div>
        <div class="flex justify-center mt-3 md:block">
            <a href="/events" type="button"
                class="flex items-center text-white bg-gradient-to-r from-primary-gold to-yellow-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm md:text-base px-5 py-2.5 md:py-3 text-center me-2 mb-2 md:mb-0">
                view details
                <svg class="w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
</section>
{% endif %}

<section class="">
    <div class="container max-w-6xl px-4 py-10 mx-auto md:py-16">
        <h2 class="text-3xl font-bold text-center text-blue-900 md:text-5xl">
            We live our 
            <span
            class="inline-block p-1 text-transparent bg-gradient-to-r bg-clip-text from-primary-gold to-yellow-600">
            Lives
            </span>
            for Generations!
        </h2>
        <div
            class="grid justify-center mx-auto mt-10 md:grid-cols-2 justify-items-center gap-14 md:gap-20 md:mt-16">
            <div class="flex flex-col gap-2 max-w-96 w-[90%]">
                <div >
                    <img class="mx-auto" src="/static/flaticons/big-family-1.png" width="100px" alt="">
                </div>
                <div class="text-center">
                    <h4 class="text-xl md:text-2xl">We Value Family</h4>
                    <p class="text-sm">The perfect bond of love, respect, honor and sharing. Together, we do great works in the Lord's name.</p>
                </div>
            </div>
            <div class="flex flex-col gap-2 max-w-96 w-[90%]">
                <div>
                    <img class="mx-auto" src="/static/flaticons/team-leader-2.png" width="100px" alt="">
                </div>
                <div class="text-center">
                    <h4 class="text-xl md:text-2xl">Leadership Development</h4>
                    <p class="text-sm">A balanced personal and professional development, enhancing the effectiveness and efficiency of executives.</p>
                </div>
            </div>
            <div class="flex flex-col gap-2 max-w-96 w-[90%]">
                <div>
                    <img class="mx-auto" src="/static/flaticons/international-1.png"  width="100px"alt="">
                </div>
                <div class="text-center">
                    <h4 class="text-xl md:text-2xl">Global Relevance</h4>
                    <p class="text-sm">Providing solutions that answers the fundamental human need of finding Fulfilment.</p>
                </div>
            </div>
            <div class="flex flex-col gap-2 max-w-96 w-[90%]">
                <div>
                    <img class="mx-auto" src="/static/flaticons/save-the-planet.png"  width="100px"alt="">
                </div>
                <div class="text-center">
                    <h4 class="text-xl md:text-2xl">Societal Impart</h4>
                    <p class="text-sm">Shaping the norm and culture of society to reflect the righteousness of God by  spreading the joy and possibilities of the gospel.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="flex items-center justify-center h-56 md:h-80 bg-donation">
    <div class="grid justify-center">
        <h2 class="text-3xl font-bold text-center text-white md:text-5xl">Join The movement</h2>
        <a href="https://forms.gle/75tMR8Q1Ni9h1qV99"
            class="justify-self-center flex items-center gap-2 text-white bg-gradient-to-r from-primary-gold to-yellow-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-sm text-sm md:text-base px-10 py-2.5 md:py-3 text-center me-2 mb-2 md:mb-0 mt-2 md:mt-4">
             Become a Part of Us
            <svg class="w-4 h-4" style="animation: bounce-side 1s ease-out infinite alternate;" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
        </a>
    </div>
</section>

<section class="py-8 bg-white">
    <div class="container px-4 py-10 mx-auto md:py-16">
        <h2
            class="mx-auto text-3xl font-bold text-center text-transparent text-blue-900 md:text-5xl bg-gradient-to-r bg-clip-text from-primary-blue to-blue-600 w-fit">
            Announcements
        </h2>
        <div class="grid grid-cols-1 gap-6 mt-10 md:grid-cols-2 lg:grid-cols-3 md:mt-14">
            <!-- Announcement Card 1 -->
            {% for announcement in announcements %}
            <div class="overflow-hidden rounded-lg bg-primary-gold-light">
                <img src="{{ announcement.image.url }}" alt="Announcement Image" class="object-cover w-full h-48" width="768"
                    height="200" style="aspect-ratio: 768 / 200; object-fit: cover;" />
                <div class="p-4 announcement-card">
                    <h3 class="mb-2 text-xl font-bold">"{{announcement.headline}}"</h3>
                    <div class="flex flex-col mb-4">
                        <p class="text-gray-600 fullText">{{announcement.body}}</p>
                        <p class="text-gray-600 shortText"></p>
                        <a href="#">see more</a>
                    </div>
                    <a href="{{announcement.action_url}}"
                        class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-bold text-white uppercase transition-colors rounded whitespace-nowrap ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary-blue hover:bg-blue-700">
                        {{announcement.action_text}}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script src="{% static 'js/collapse.js' %}"></script>
<script>
    document.querySelectorAll('.announcement-card').forEach(card=>{
        Collapsible(
            card.querySelector('.fullText'),
            card.querySelector('.shortText'),
            card.querySelector('a')
            );
    })
</script>
{% endblock body %}
