{% load static %}
<nav class="w-full border-gray-200 bg-primary-gold-light">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="{% static "icons/church-arise-network-blue.svg" %}" class="h-20" alt="Church arise network Logo" />
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg md:p-0 md:flex-row md:space-x-8 rtl:space-x-reverse md:items-center md:mt-0 md:border-0">
                {% with non_current_page_classes=" text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary-blue md:p-0" current_page_classes="text-white bg-primary-blue-dark md:py-2 md:px-3 "  %}
                <li>
                    <a href="/"
                        class="block py-2 px-3 uppercase rounded  {% if request.path == '/' %} {{current_page_classes}} {% else %} {{non_current_page_classes}} {% endif %}" 
                        aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/about"
                        class="block py-2 px-3 uppercase rounded {% if request.path == '/about/' %} {{current_page_classes}} {% else %} {{non_current_page_classes}} {% endif %}">ABOUT</a>
                </li>
                <li>
                    <a href="/events"
                        class="block py-2 px-3 uppercase rounded {% if request.path == '/events/' %} {{current_page_classes}} {% else %} {{non_current_page_classes}} {% endif %}">EVENTS</a>
                </li>
                <li>
                    <a href="/giving"
                        class="block py-2 px-3 uppercase rounded {% if request.path == '/giving/' %} {{current_page_classes}} {% else %} {{non_current_page_classes}} {% endif %}">GIVE</a>
                </li>
                <li>
                    <a href="/gallery"
                        class="block py-2 px-3 uppercase rounded {% if request.path == '/gallery/' %} {{current_page_classes}} {% else %} {{non_current_page_classes}} {% endif %}">GALLERY</a>
                </li>
                <li>
                    <a href="/publications"
                        class="block py-2 px-3 uppercase rounded {% if request.path == '/publications/' %} {{current_page_classes}} {% else %} {{non_current_page_classes}} {% endif %}">PUBLICATIONS</a>
                </li>
                <li>
                    <a href="{% url 'course:course_list' %}"
                        class="block py-2 px-3 uppercase rounded {% if 'courses' in request.path and 'dashboard' not in request.path %} {{current_page_classes}} {% else %} {{non_current_page_classes}} {% endif %}">COURSES</a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'course:dashboard' %}"
                        class="block py-2 px-3 uppercase rounded {% if 'dashboard' in request.path %} {{current_page_classes}} {% else %} {{non_current_page_classes}} {% endif %}">DASHBOARD</a>
                </li>
                {% endif %}
                <li>
                    {% if request.user.is_authenticated %}
                    <a href="/logout"
                    class="block py-2 px-3 uppercase rounded {% if request.path == '/logout' %} {{current_page_classes}} {% else %} {{non_current_page_classes}} {% endif %}">LOGOUT</a>
                    {% else %}
                    <a href="/login"
                    class="block py-2 px-3 uppercase rounded {% if request.path == '/login' %} {{current_page_classes}} {% else %} {{non_current_page_classes}} {% endif %}">LOGIN</a>
                    {% endif %}
                </li>
                {% endwith %}
            </ul>
        </div>
    </div>
</nav>